# Copyright (C) 2026 Sam Dornan
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

PUSH_URL=[UPTIME KUMA PUSH URL GOES HERE] # Include everything before the "?"
PUSH_INTERVAL=[PUSH INTERVAL GOES HERE]
CF_CLIENT_ID=[CLIENT ID GOES HERE].access #Ensure the .access trailing element is included
CF_CLIENT_SECRET=[CLIENT SECRET GOES HERE]